<div class="wrapper">
    <div class="wrapped-div">
        <div class="tab-header" >
            <div class="row">
                
                <div class="col-sm-6 col-md-6 col-lg-6 text-center"  style="background-color: #28A754; color: white;">
                    <h2 routerLink='/user/login' routerLinkActive='active'>Sign In</h2>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-center" style="background-color: #007BFF; color: white;">
                    <h2 routerLink='/user/registration' routerterLinkActive='active'>Sign up</h2> 
                </div>
            </div>
          
            
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>